<div class="container" align="center">
    <form action="/posts/edit" method="POST">
        <h2 align="center">עריכת כתבה</h2>
        <div class="col" align="center">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="hidden" name="id" value="{{id}}">
                    <label for="first"></label>
                    <input type="text" class="form-control" placeholder="" name="title" value="{{title}}" dir="rtl">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last">תקציר כתבה</label>
                    <input type="text" class="form-control" placeholder="" name="description" value="{{description}}"
                        dir="rtl">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company">תאריך</label>
                    <input type="text" class="form-control" placeholder="" name="date" value="{{date}}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">תמונה</label>
                    <input type="text" class="form-control" id="phone" placeholder="/public/images/example.jpg"
                        name="picture" value="{{picture}}">
                </div>
            </div>

            <br>
            <br>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="textstory" id="" cols="90" rows="10" dir="rtl"
                        placeholder="כתוב את הפוסט כאן...">{{textstory}}</textarea>
                </div>
            </div>

            <br>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

    </form>
</div>
<br>
<a href="/" type="button" class="btn btn-secondary"><i class="fas fa-home"></i></i> ראשי</a>